.map {
    display: inline-block;
    width: 100%;
    height: 61.7%;	
}

.btn-circle-loc {
	width: 3rem;
	height: 3rem;
	line-height: 4rem;
	border-radius: 100%;
	background: white;
	position: fixed;
	top: 53%;
}