<div class="container-signup-full">
  <div class=" fixed width-100 bg-white">
    <div class="mt-40 d-flex align-center ">

      <a (click)="dismiss()" class="flip-x btn-circle btn-circle-white center d-flex"><img
          src="../../../assets/close-black.svg" /></a>
      <p class="ml-30 f1-5rem ">Breakdown</p>
    </div>
  </div>

  <div class="container-signup-full-child mt-40 pt-120 pb-30">

    <div>
      <div class="mt-15 pb-20 px-20 d-flex align-center link-black space-between">
        <div class="pr-20 width-100 d-flex align-center">
          <!-- <div class="pr-20">
            <ion-icon name="card-outline" style="font-size: 30px;"></ion-icon>
          </div> -->

          <div>
            <p>Booking Fee</p>
          </div>
        </div>

        <div>
          <p>R2.31</p>
        </div>

      </div>
      <div class="line"></div>
    </div>

    <div>
      <div class="mt-15 pb-20 px-20 d-flex align-center link-black space-between">
        <div class="pr-20 width-100 d-flex align-center">
          <!-- <div class="pr-20">
            <ion-icon name="card-outline" style="font-size: 30px;"></ion-icon>
          </div> -->

          <div>
            <p>Total</p>
          </div>
        </div>

        <div>
          <p>R23.19</p>
        </div>

      </div>
      <div class="line"></div>
    </div>
  </div>

</div>