<div class="container-signup">
	<div class="mt-40 px-20 d-flex align-center text-white">
		<a href="sign-in-page-1.html" class="flip-x btn-circle btn-circle-white center d-flex"><img src="../../../assets//arrow-black.svg"/></a>
	</div>
	
	<div class="signin-login">
		<img class="signin-login" src="../../../assets/logo/T&T courier logo transparent.png"/>
	</div>

	<div class="container-signup-child pt-40  px-20 bg-white">
		<p class="t-center">Enter the code</p>
		<p class="f9rem t-center">Sent to: +27 63 123 4567</p>

		<div class="mt-40">
			<div class="input">
				<input text="text" name="" maxlength="5" placeholder="Enter your OTP"/>
			</div>
		</div>

		<div class="mt-40 pb-30 d-flex align-center space-between">
			<a href="#" class="link">Resend code</a>
			
		</div>

    <div class="mt-40 d-flex center">
			<a (click)="submit()" class="btn-circle btn-circle-black center d-flex"><img src="../../../assets/arrow-white.svg"/></a>
		</div>
    <p class="mt-20 pb-30 fine-print t-center"></p>

	</div>
</div>